body {
    text-align: center;
}

h1 {
    font-size: xx-large;
    font-style: inherit;
}

.azul {
    color: blue
}

.botoes:hover {
    width: 60px;
    height: 30px;
    border-radius: 20%;
    font-style: italic;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.animacao:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}